@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'PT Serif', serif;
}

.introduction {
    min-height: 100vh;
    width: 100%;
    background-color: #ced3cf;
    display: flex;
    flex: none;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
}

.introduction::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 250px;
    background-color: #00bfa5;
    background: url(../img/base/WhatsApp_icon.png) #00bfa5 no-repeat;
    background-position: right;
    background-size: 30%;
}

.introduction .container {
    background: #ffffff;
    text-align: left;
    box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
    padding: 70px 30px 30px 30px;
    width: 90%;
    height: 100%;
    margin: 5px 5px 50px 5px;
    z-index: 5;
    border-radius: 3px;
    transition: 0.5s;
}

.introduction .title {
    z-index: 10;
    justify-content: right;
    text-align: left;
    display: block;
    margin: 70px auto 35px;
    width: 90%;
    transition: 0.5s;
}

.introduction .title h1 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    line-height: normal;
}

.introduction .title p {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    margin-top: 5px;
    margin-right: 10px;
}

.introduction .container .row {
    width: 100%;
    display: flex;
}

.introduction .container .row .col70 {
    width: 60%;
    padding-right: 10px;
}

.introduction .container .row .col30 {
    width: 40%;
}

.introduction .container .col100 {
    width: 100%;
    margin: 10px;
}

.introduction .container .row .col70 .information h1 {
    font-size: 22px;
    color: #525252;
    font-weight: 500;
    margin-bottom: 25px;
    line-height: normal;
}

.introduction .container .row .col70 .information h2 {
    font-size: 20px;
    color: #525252;
    font-weight: 600;
}

.introduction .container .row .col70 .information p {
    font-size: 18px;
    color: #525252;
    font-weight: 400;
    margin-bottom: 20px;
}

.introduction .container .row .col30 .valid {
    display: none;
    font-size: 20px;
    font-weight: 500;
    color: #525252;
    text-transform: uppercase;
    margin: 20px 0;
    transition: 1s ease-in-out;
}

.introduction .container .row .col30 .information h1 {
    font-size: 20px;
    color: #525252;
    font-weight: 500;
    margin: 15px 0px 0px 10px;
    line-height: normal;
}

.introduction .container .row .col30 .information h2 {
    font-size: 18px;
    color: #525252;
    font-weight: 400;
    margin: 10px 0px 0px 10px;
}

.introduction .container .row .col30 .fieldBTN {
    margin: 0px 0px 0px 10px;
}

.introduction .container .row .col30 .InputGroup {
    display: block;
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 25px;
    border-bottom: 1px solid #000;
    padding: 5px;
    font-weight: 400;
    color: #000000;
}

.introduction .container .row .col30 .InputGroup label {
    font-size: 18px;
    font-weight: 400;
    float: left;
    width: 100%;
    display: block;
    color: #000000;
}

.introduction .container .row .col30 .InputGroup textarea,
.introduction .container .row .col30 .InputGroup input {
    float: left;
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    border: 0;
    color: #000000;
    background-color: transparent;
}

.introduction .container .row .col30 .InputGroup input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.introduction .container .row .col30 .InputGroup input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.introduction .container .row .col30 .InputGroup textarea {
    width: 100%;
    height: 150px;
    resize: none;
}

.introduction .container .row .col30 .InputGroup textarea:focus,
.introduction .container .row .col30 .InputGroup input:focus {
    border: 0;
    outline: 0;
}

.introduction .container .row .col30 .InputGroup textarea::placeholder,
.introduction .container .row .col30 .InputGroup input::placeholder {
    color: #00000085;
    
}

.introduction .container .row .col30 .endField {
    display: none;
}

.introduction .container .row .col30 a {
    background: #128C7E;
    color: #ffffff;
    padding: 10px 35px;
    display: grid;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
}

.introduction .container .row .col30 a:hover {
    background: #075E54;
    letter-spacing: 5px;
}

.introduction .container .row .col30 .qrcode {
    width: 70%;
    height: 50%;
    position: relative;
    margin: 0 auto;
}

.introduction .container .row .col30 .qrcode canvas {
    opacity: 1;
}

.introduction .container .row .col30 .qrcode img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: contain;
    animation: op 0.5s linear;
    background: #fff;
    padding: 0px 10px;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 5%;
    background: #128C7E;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container .about {
    width: 100%;
}

footer .container .fieldBTN {
    margin-top: 20px;
}

footer .container .fieldBTN .btn {
    background: #075E54;
    color: #ffffff;
    padding: 10px 29px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
}

footer .container .fieldBTN .btn:hover {
    letter-spacing: 5px;
}

footer .container h1 {
    position: relative;
    margin-bottom: 15px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    line-height: normal;
}

footer .container h1::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2.5px;
    background: #075E54;
}

footer p {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 2px;
    color: #ffffff;
}

.copyrightText {
    width: 100%;
    background: #075E54;
    padding: 25px 100px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

@media (max-width: 991px) {
    .introduction::before {
        background: #00bfa5 no-repeat;
        background-position: right;
        background-size: 30%;
    }

    .introduction .container {
        padding: 50px 20px 30px 20px;
    }

    .introduction .container .row {
        width: 100%;
        display: block;
    }

    .introduction .container .row .col70 {
        width: 100%;
        padding-right: 0px;
        padding-bottom: 10px;
    }

    .introduction .container .row .col30 {
        width: 100%;
    }

    .introduction .container .row .col30 .qrcode {
        width: 100%;
        height: 100%;
    }

    .introduction .container .row .col30 .information h1 {
        margin: 20px 0px 0px 0px;
    }

    .introduction .container .row .col30 .information h2 {
        margin: 10px 0px 0px 0px;
    }

    .introduction .container .row .col30 .fieldBTN {
        margin: 0px;
    }

    footer {
        padding: 50px 5% 40px 5%;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container .about {
        width: 100%;
        margin-right: 0;
    }

    footer .container .fieldBTN .btn {
        display: grid;
        text-align: center;
        width: 100%;
    }

    .copyrightText {
        padding: 25px 25px 25px 25px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .introduction .title {
        width: 95%;
        margin: 60px auto 35px;
    }

    .introduction .title p {
        margin-top: 0;
        margin-right: 0;
    }

    .introduction .container {
        width: 95%;
        padding: 30px 10px 30px 10px;
    }

    .introduction .container .row .col70 .information h1 {
        font-size: 20px;
    }

    .introduction .container .row .col70 .information p {
        font-size: 18px;
    }

    .introduction .container .row .col30 .InputGroup {
        padding: 5px 0;
    }

    .fieldBTN {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .footer {
        padding: 30px 2.5% 30px 2.5%;
    }
}
